[submodule "seven-segment-seconds"]
	path = seven-segment-seconds
	url = https://github.com/mattvenn/seven-segment-seconds
[submodule "ws2812"]
	path = ws2812
	url = https://github.com/mattvenn/ws2812-core.git
[submodule "vga-clock"]
	path = vga-clock
	url = https://github.com/mattvenn/vga-clock.git
[submodule "spinet"]
	path = spinet
	url = https://github.com/millerresearch/spinet
[submodule "asicfreq"]
	path = asicfreq
	url = https://git.sr.ht/~jersey99/asicfreq
[submodule "ASIC_watch"]
	path = ASIC_watch
	url=https://github.com/GuillemCabo/ASIC_watch.git
[submodule "TPM2137"]
	path = TPM2137
	url = https://github.com/q3k/TPM2137
[submodule "mm2hdmi"]
	path = mm2hdmi
	url = https://github.com/nanoluka/mm2hdmi.git
